--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12 (Debian 15.12-1.pgdg120+1)
-- Dumped by pg_dump version 15.12 (Debian 15.12-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: game; Type: TABLE; Schema: public; Owner: beytullahp
--

CREATE TABLE public.game (
    game_id integer NOT NULL,
    attempts integer NOT NULL,
    is_game_over boolean NOT NULL,
    number integer NOT NULL
);


ALTER TABLE public.game OWNER TO beytullahp;

--
-- Name: game_game_id_seq; Type: SEQUENCE; Schema: public; Owner: beytullahp
--

ALTER TABLE public.game ALTER COLUMN game_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.game_game_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: game; Type: TABLE DATA; Schema: public; Owner: beytullahp
--

COPY public.game (game_id, attempts, is_game_over, number) FROM stdin;
1	6	t	12
2	5	t	48
3	0	f	65
\.


--
-- Name: game_game_id_seq; Type: SEQUENCE SET; Schema: public; Owner: beytullahp
--

SELECT pg_catalog.setval('public.game_game_id_seq', 3, true);


--
-- Name: game game_pkey; Type: CONSTRAINT; Schema: public; Owner: beytullahp
--

ALTER TABLE ONLY public.game
    ADD CONSTRAINT game_pkey PRIMARY KEY (game_id);


--
-- PostgreSQL database dump complete
--

